{% extends 'base.html.twig' %}

{% block title %}
    À propos
{% endblock %}

{% block body %}
    <h1>À propos</h1>
    <br>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad animi assumenda atque beatae debitis, ea enim
        excepturi facere fugit illum impedit in iste iusto magnam modi molestiae nisi officia, officiis omnis possimus
        recusandae repudiandae temporibus totam vel vitae voluptatum? Aperiam cumque expedita iste non officiis
        perferendis quod sunt! Deleniti quasi, totam? Ad animi asperiores commodi deleniti deserunt dignissimos dolor
        dolore doloribus ducimus earum et eum eveniet, explicabo illum incidunt ipsum laboriosam magnam minima molestiae
        non pariatur perspiciatis placeat porro quo quod rem repellat soluta tempora tempore temporibus totam ut veniam
        voluptatem. Accusantium aliquid dicta distinctio eveniet, ex facilis incidunt quas, quod reiciendis suscipit
        vitae voluptate. Accusantium, aliquam assumenda dolore earum est excepturi expedita ipsum necessitatibus nobis
        perspiciatis possimus quisquam similique ut. Adipisci animi corporis distinctio dolore id optio quas. Ab alias
        aut commodi dicta esse facere facilis itaque laboriosam libero neque nobis officiis perferendis provident, quos
        ratione sapiente, tenetur voluptatum! Accusantium alias aliquid consequuntur culpa dicta facere itaque maiores
        molestias non, nostrum optio rerum temporibus vel? Aliquam aliquid aperiam corporis delectus deleniti iste modi
        necessitatibus, nesciunt nisi placeat possimus quas quidem ratione reprehenderit sed temporibus unde! Accusamus
        amet aperiam beatae dicta dolore dolorum fugiat fugit, hic illum iste, quibusdam?
    </p>
    <br>
    <p>
        Molestias, sapiente, tenetur. A accusantium culpa dolore, dolorem eius eos et impedit, inventore laborum magni nemo non provident, quod
        reprehenderit voluptate! At corporis debitis doloribus eligendi error explicabo facilis incidunt, ipsam officiis
        perspiciatis, reiciendis, repellat vero. Consequuntur dolore eius fuga ipsam sint tempore, unde? Ad aliquid aut
        blanditiis corporis distinctio enim eos facere fugit id illo laborum libero magni minima non numquam praesentium,
        quam qui quia quibusdam quidem repellat tempora tenetur voluptates voluptatibus voluptatum! A ab accusamus, alias
        aspernatur autem beatae cupiditate distinctio dolorem eligendi enim eos error esse expedita fuga illo illum
        inventore ipsum iure labore laudantium magni maxime molestias, nostrum numquam officiis perferendis possimus quasi
        quis quisquam quo repellat reprehenderit ut velit voluptas voluptate voluptates voluptatibus? Beatae fuga odit,
        perspiciatis quo repellendus sequi voluptates. Alias, consequuntur cum delectus dicta doloremque ex laboriosam nisi
        nulla possimus praesentium quo sapiente sint ullam. Corporis dolor illum nemo odio pariatur quam. A assumenda cum
        delectus esse et, eveniet harum natus neque perferendis quam quasi qui quibusdam quidem sit unde vel veniam? Alias
        architecto assumenda consequatur corporis culpa deserunt distinctio dolore dolorem dolores doloribus ducimus enim ex
        facilis illum inventore nemo, neque numquam possimus quam, quod rem rerum sit totam veniam voluptas voluptate?
    </p>
{% endblock %}