{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/wish-form.css') }}">
{% endblock %}

{% block title %}
    Modification d'idée
{% endblock %}

{% block body %}
    <h1>Update your wish!</h1>
    {{ form(form) }}
{% endblock %}