<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Page d'accueil{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/favicon.png') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% include 'structure/header.html.twig' %}

        {% for label, messages in app.flashes %}
            <div class="alert-{{ label }}">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endfor %}

        <main>
            {% block body %}{% endblock %}
        </main>
        {% include 'structure/footer.html.twig' %}
    </body>
</html>